<div class="container mt-3 ">
  <div class="row">
    <div class="col-4">
      <button type="button" routerLink="/Personas" class="btn btn-lg btn-primary border border-dark w-100">Personas</button>
    </div>
    <div class="col-4">
      <button type="button" routerLink="/Puestos" class="btn btn-lg btn-secondary border border-dark w-100">Puestos</button>
    </div>
    <div class="col-4">
      <button type="button" routerLink="/Empleados" class="btn btn-lg btn-success border border-dark w-100">Empleados puestos</button>
    </div>
